In [18]:
n = 4

for i in range(1, n+1): # keep starting point, the number of '*' that need to be printed. it will go to 4
    print("*" * i)      # '*' start from 1, ends in 4

*
**
***
****

In [19]:
for i in range(1, n+1):             # each line e joto gula '*' print kora dorkar, for loop toto theke start and end hobe 
    print( " " * (n - i) + "*" * i) # num of space will be 3, 2, 1, 0. '*' will be 1, 2, 3, 4

   *
  **
 ***
****

In [20]:
for i in range(1, n+1):
    print( " " * (n - i) + "* " * i) # now 1 '*' 1 space will be printed in each loop. right side e jeye emon shape hobe

   *
  * *
 * * *
* * * *

In [21]:
for i in range(1, n+1):              # i goes from 1 to 4
    print( " " * (n - i) + "* " * i) # 3 ta space, 2 ta space, 1 ta space, 0 space. 1 ta '*', 2 ta '*', 3 ta '*', 4 ta '*'
    
for i in range(n-1, 0, -1):          # need to print from 3 '*' to 1 '*'. i start from 3 here, goes 2, goes 1 and STOP!
    print( " " * (n - i) + "* " * i) # space starts from 1 ta space to 3 ta space, '*' starts from 3 '*' to 1 '*'

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [22]:
for i in range(n, 0, -1):            # need to print from 4 '*' to 1 '*'. i start from 4 here, goes 3, goes 2, goes 1 and STOP!
    print( " " * (n - i) + "* " * i) # space starts from 0 ta space to 3 ta space, '*' starts from 4 '*' to 1 '*'

* * * *
 * * *
  * *
   *

In [23]:
for i in range(n, 0, -1):
    print("*" * i)

****
***
**
*

In [11]:
n = 4

for i in range(1, n+1):   # always start from 1 and go till number of row that has given. so, extended till n+1 
    print("*" * i)
    
for i in range(n, 0, -1): # the given row number of '*' need to printed at the beginning
    print("*" * i)

*
**
***
****
****
***
**
*

In [10]:
n = 4
for i in range(1, n+1):
    print( " " * (n-i) + "*" * i)
    
for i in range(1, n+1):
    print( " " * (i-1) + "*" * (n+1-i))

   *
  **
 ***
****
****
 ***
  **
   *

In [12]:
n = 4

for i in range(1, n+1):
    # there has 3 parts: space, left side, right side
    
    for space in range(n-i, 0, -1): # number of space can be cal by n-1. it starts from n-1 and goes till 1
        print(end = " ")            # pasha pasha print hobe
        
    for left_side in range(i, 0, -1): # num of i same as the number of digit in each line, and it's going backward
        print(left_side, end = "")
        
    for right_side in range(2, i+1): # it starts from 2 and goes the same num of value as i
        print(right_side, end = "")
    print()
    
    
for i in range(1, n):
    
    for space in range(1, i+1): # always start from 1 and go till i. so, ended in i+1
        print(end = " ")
        
    for left_side in range(n-i, 0, -1):  # need to start from n-1 and go till 1. to ended in 0
        print(left_side, end="")         
        
    for right_side in range(2, (n-i)+1): # need to print from 2 to (n-i). so, extended it by +1 
        print(right_side, end="")        
    print()

   1
  212
 32123
4321234
 32123
  212
   1

In [13]:
n = 5

for i in range(1, n+1):         # the last value is excluding, and it is staring from 1. so n+1
    
    for j in range(n, n-i, -1): # start from the given number, go till the number of line value, in desc order
        print(j, end="")        # end="" for printing in the same line
        
    print() # go to next line

5
54
543
5432
54321

In [16]:
for row in range(6):
    for col in range(7):
        if (row == 0 and col % 3 != 0) or (row == 1 and col % 3 == 0) or (row - col == 2) or (row + col == 8):
            print("*", end = "")
        else:
            print(" ", end = "")
            
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *